:root {
  --spaceBlue: #aeedf4;
  --white: #e3e3e3;
  --spaceGreen: #66be66;
}

/* NOTE: can put the following padding: 0 2em to create different padding on the same line, I think 0 is top bottom, 2em is right/left*/

body {
  /* background-image: url('https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1478&q=80'); */
  background-image: url('https://media0.giphy.com/media/U3qYN8S0j3bpK/200w.gif?cid=790b7611f26ep1dq0nhcju5erufbrw06n7cf5wej7t04tm00&ep=v1_gifs_search&rid=200w.gif&ct=g');
  background-size: cover;
  background-position: center;
  margin: none;
}

/* example of a clamp, this will change the size of the text for our h2 based on the size of the screen */
/* min 3rem, max 7rem */
h2 {
  font-size: clamp(3rem, 1rem + 10vw, 7rem);
}


/* NOTE: wowowow so I went to a custom font that I found on the web, downloaded the file. I then went inside the file, found the exact font that I wanted, installed it to my drive, and was able to use it's name to call it as a font family in VS code */
.star-wars {
  font-family: Star Jedi;
  color: var(--white);
  text-shadow: 0 0 20px #9D00FF;
}

.space-card {
  background-image: url('https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1478&q=80');
  background-size: cover;
  background-position: center;
  min-height: 18vh;
  padding: 2em;
  animation: glow 1s infinite alternate;
  border-radius: 14px;
  margin: 1vh;
}

.stat-card {
  background-color: #aeedf4;
  border-radius: 14px;
  padding: 1em;
  box-shadow: 0 0 10px #9D00FF;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #abe7ef;
  }

  to {
    box-shadow: 0 0 10px 10px #aeedf4;
  }
}




#spaceCat:hover {
  cursor: pointer;
  transform: (scale(1.10));
  animation: glow 1s infinite alternate;
  text-shadow: 0px 0px 5px #fff;
  border-radius: 40%;
}

.button:hover {
  box-shadow: 0 0 10px #9D00FF;
  background-color: var(--spaceGreen);
  transition: 0.5s;
}

.marquee1 {
  min-height: 63vh;
}

.button {
  cursor: pointer;
  transform: (scale(1.10));
}

.custom-margin {
  margin: 3px;
}

.spaceblue-bg {
  background-color: var(--spaceBlue);
}

.apple-cat {
  min-width: 20vh;
}


/* TODO: cool syntax for creating a pulsing glow around animation. Only thing is, it glows in a transparent box around image instead of around image itself. */

/* @keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }

  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
} */






@media (max-width: 756px) {
  .marquee1 {
    min-height: 37vh;
  }

  .apple-cat {
    min-width: 4vh;
  }

}